

.userTable {
    color: White;
    border-collapse: collapse;
    width: 100%;
}

.userTable th,
.userTable td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    background-color:#0EA5E9;;
}
.userTable th {
    background-color:  #043774;
    color:white;
}

.userTable th.addReview {
    background-color: #043774;
}


.cellRoles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.addReviewButton {
    color: white;
    background-color: rgb(61, 130, 0);
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
    padding: 5px;
}
.addReviewButton:hover {
    background-color: rgb(181, 136, 11);
}
h1{
    font-weight: 800;
    font-size: x-large;
    padding: 10px;

}
